.entries
  .entry__top
    %h2.apply オーナープランお申し込み
  .entry__bottom
    .entry_content
      %h3.apply お申し込み内容
      .application-detail
        .dl.apply-plan
          .dt.apply-plan 登録プラン
          .dd.apply-plan aaaaaaaaaaaaaaaaaaaaa
        .dl.apply-price
          .dt.apply-price 金額
          .dd.apply-price
            %span ¥
            %span 33333
            %span /一口
    .entry_amount
      %h3.amount 登録数入力
      .form
        .form-group
          %label{ for: "exampleSelect1" }
            %select#exampleSelect1.form-control
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
            %h4.form 口
            .sum
              %h5.sum 合計
              %span.en ¥
              %span 33333
    .entry_address
      %h3.address 配送先選択
      .address-list
        %h4.address1 住所１
        .dl.name
          .dt.name 氏名
          .dd dddddddd
        .dl.address
          .dt.address 住所
          .dd aaaaaaaa
        .dl.number
          .dt.number TEL
          .dd qqqqqqqq
    .entry_buttons
      .btn1 戻る
      .btn2 次に進む
%footer
